body {
    margin: 0px;
    overflow: hidden;
}

.container {
    margin: auto;
    background: #eee;
    width: 800px;
    height: 570px;
    padding: 0px;
}

.row {
    position: absolute;
    width: 100%;
    height: 10%;
    background: #333;
    border-top: 1px solid #fff;
}

.container input[type="checkbox"] {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 1;
    cursor: pointer;

}

.container input[type="checkbox"]:checked {
    opacity: 0.8;
    background: url(./img/gou.png) no-repeat center;
}

.container .row span {
    float: left;
    width: 10%;
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;;
    background-position: center;
    background-size: 100% 100%;

}
