@CHARSET "UTF-8";

* { 
	margin: 0; padding: 0; 
}
body {
	margin: 0 auto;
	padding: 0;
	background: #FFF; /*#F5F5F5*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6666CC;
}

img {
	border: 0px;
}
/*********************** OPES_TABLE *************************************/
.OPES_TABLE_ID
 {
 	
  	width:100%;
  	_width:98%; /* for IE6 only*/
    color:blue;
 }
 .OPES_TABLE_ID thead th 
 {
 	 background:#dafbf2;/*7FFFD4 FFDEAD 91c5d4   #FFF  #F6F9FB   #DEF696*/
 	 height:20px;
 	 padding:2px;
     border:1px solid #fff;
     border-width:0px 1px 1px 0px;
 }
 .OPES_TABLE_ID td
 {
 		height:16px;
        padding:1px;
        border:1px solid #fff;
        border-width:0px 1px 1px 0px;
}
/*********************** a img button class *************************************/
.aImgButton {
  
}
.aImgButton img{
 vertical-align:middle;
  width:16px;
  height:16px;
  border:0px;
}
